@charset "utf-8";

body {
	line-height:1.3em;
}
a, a:link { color:#0000cc; }
a:hover, a:focus { color:#666666; }

li {
	padding:5px 2px;
}

li a {
	text-decoration:none;
}

ol li {
	margin-left:2em;
	line-height:1.4em;
}

pre {
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  white-space: pre-wrap;      /* CSS3 */
  word-wrap: break-word;      /* IE 5.5+ */
}

/* Document */

html,body {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	text-align:center;
	color:#333333;
}

div#Wrapper {
	padding:20px;
	width:800px;
	margin:0 auto;
	text-align:left;
}

div#Copyright {
	margin: 100px 0px 80px 0px;
	text-align:center;
	font-size:75%;
}


h1	{ text-align:center; margin:80px 0px 80px 0px; }
h2	{ margin:80px 0px 50px 0px; }
h3 { margin:50px 0px 20px 0px; }
p { line-height:1.3em; }

div.social {
    padding-bottom:10px;
}

div.social div.mixi,
div.social div.facebook,
div.social div.twitter {
    float:left;
    padding-right:10px;
}

div.func { margin:25px 0px; }
div.func h3 {
	font-size:16px;
	font-weight:bold;
	color:#000000;
	margin:40px 0px 20px 0px;
}
div.sample { padding:20px; background-color:#f6f6f6; }
div.plugin { margin:25px 0px 100px 0px; }
div.plugin h3 {
	background-image:url(../images/icon-plugin.gif);
	background-position:0% 50%;
	background-repeat:no-repeat;
	height:40px;
	line-height:40px;
	font-weight:bold;
	color:#000000;
	font-size:16px;
	text-indent:40px;
	margin:60px 0px 40px 0px;
	border-top:1px solid #000000;
	border-bottom:1px solid #999999;
}
div.plugin h4 {
	font-weight:bold;
	color:#000000;
	margin:40px 0px 20px 0px;
}


table { border-collapse: collapse; width:100%; }
table td,
table th { padding:25px 5px 5px 5px; vertical-align:top; }
table th { font-weight:bold; }
table thead th { padding-bottom:10px; border-bottom:1px solid #000000; }
table tbody th { border-bottom:1px solid #000000; }
table tbody td { border-bottom:1px solid #999999; }


dl,dt,dd { display:block; }
dl { padding-bottom:10px; }
dt { padding-bottom:5px; }
dd { padding-bottom:15px; }
dd p { padding:0 5 5 5; }

em { font-style:italic; }

.alR{ text-align: right; }

/* gaEventTracker */

#gaEventTracker div.clearfix img { float:right; padding-left:10px; }
#gaEventTracker div.clearfix p { padding-bottom:10px; }


/* Plugins */


input.blur, textarea.blur { color:#cccccc; }

/* checkAll */

#checkAll .sample ul {
	margin:10px;
}

/* tab */

div.tabSet ul {
	display:block;
}
div.tabSet ul li {
	display:block;
	float:left;
	margin:0px;
	padding:0px;
}

div.tabSet ul li a {
	display:block;
	padding:5px;
	background-color: #ccc;
	color:#333;
	margin-right:5px;
}

div.tabSet ul li a:hover {
	background-color: #666;
	color:#fff;
}

div.tabSet ul li a.selected,
div.tabSet ul li a.selected:hover {
	background-color: #fff;
	color:#333;
}

div.tabSet div.panel {
	background-color: #fff;
	padding:15px;
}

div.tabSet div.panel img {
	float:left;
	padding-right:10px;
}

/* imgSwap */

div#imgSwap div.sample ul li { float:left; padding-right:10px; }


/* lightBox */

div#lightBox div.sample ul li { float:left; padding-right:10px; }


/* Download */

div#download form ul {
	width: 800px;
	margin: 15px 0px;
}

div#download form ul li {
	display:inline;
	width: 150px;
	float:left;
}

div#download form div {
	text-align: center;
}


/* clearfix */

.clear
{
	clear:both;
}

/* modern browsers */

.clearfix:after,
#fixHeightSec:after,
#imageChangerSec ul:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* IE7 */

.clearfix,
#fixHeightSec,
#imageChangerSec ul
{
	display: inline-block;
}

/* legacy IE */

* html .clearfix,
* html #fixHeightSec,
* html #imageChangerSec ul
{
	height: 1%;
}

.clearfix,
#fixHeightSec,
#imageChangerSec ul
{
	display: block;
}

.topsy_widget_data{
	display:inline;
	width:70px;
	float:right;
	margin-left:10px;
}
	
	

