/*------------------------------------------------------------------
	STYLE
------------------------------------------------------------------*/
p.exFixed
{
	position: fixed;
	right:10%;
	bottom:10%;
}

#container > div
{
	clear: both;
	margin: 0 0 20px 0;
}

#alphaSec
{
	width: 500px;
	height: 500px;
	background: url('images/alpha.png') no-repeat;
}

#container
{


	width: 800px;
	background: #ececec;
}

#fixHeightSec li
{
	float: left;
	margin: 0 20px 0 0;
	width: 200px;
	background: #cccccc;
}

#imageChangerSec ul li
{
	display: block;
	float: left;
	width: 70px;
}

/*
#easyTooltip.left
#easyTooltip.top
#easyTooltip.bottom
#easyTooltip.right
*/
#simpleTooltip
{
	display: block;
	width: 150px;
	padding:5px;
	border:1px solid #ccc;
	background:#f1f1f1;
	text-align: center;
}

#toolTipSec ul
{
	margin: 0 0 0 200px;
}

#toolTipSec ul li a
{
	display: block;
	margin: 0 0 20px 0;
	width: 20px;
	background-color: #ff4990;
}

ul.accordion ul
{
	margin: 0 0 0 20px;
}

/* clearfix */

.clear
{
	clear:both;
}

/* modern browsers */

.clearfix:after,
#fixHeightSec:after,
#imageChangerSec ul:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* IE7 */

.clearfix,
#fixHeightSec,
#imageChangerSec ul
{
	display: inline-block;
}

/* legacy IE */

* html .clearfix,
* html #fixHeightSec,
* html #imageChangerSec ul
{
	height: 1%;
}

.clearfix,
#fixHeightSec,
#imageChangerSec ul
{
	display: block;
}

